# git ignore file

# files to ignore
*.txt
.coverage

# folders to ignore
__pycache__/
.pytest_cache/
htmlcov/
SQL/
logs/

# any folder with __pycache__/, .pytest_cache/ and logs/
*/__pycache__/
*/.pytest_cache/
*/logs/


!requirements.txt