# git ignore file

# files to ignore
# *.txt
# .coverage

# folders to ignore
__pycache__/
.pytest_cache/
htmlcov/
SQL/
logs/

# any folder with pycache
# tests/__pycache__/
# tests/.pytest_cache/


# !requirements.txt
# !SQL/car_api_schema